In [3]:
import nba_api.stats.endpoints as nba
import mysql.connector
from mysql.connector import errorcode
import config
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
dbname = 'nba'
cnx = mysql.connector.connect(
    host = config.host,
    user = config.user,
    passwd = config.password,
    db = dbname
)
cursor = cnx.cursor(buffered = True)

In [5]:
stmt = """SELECT GAME_ID FROM nba.game_logs"""
cursor.execute(stmt)
game_ids = cursor.fetchall()

In [6]:
game_ids = set(game_ids)
game_ids_df = pd.DataFrame(game_ids)

In [7]:
game_ids_df

               0
0     0021800109
1     0021800090
2     0021800678
3     0021700418
4     0021700601
...          ...
2694  0021800008
2695  0021800163
2696  0021700141
2697  0021700641
2698  0021800770

[2699 rows x 1 columns]