# Linear Regression

In [6]:
import mysql.connector
from mysql.connector import errorcode
import config
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.formula.api import ols
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import scipy.stats as stats
import plotly.graph_objects as go
from sklearn.preprocessing import StandardScaler
pd.options.display.max_columns = 1000

%matplotlib inline

In [23]:
dbname = 'nba'
cnx = mysql.connector.connect(
    host = config.host,
    user = config.user,
    passwd = config.password,
    db = dbname
)
cursor = cnx.cursor(buffered = True)

## Preprocessing

### Helper functions

#### Function to convert minutes to seconds

In [24]:
def calc_secs(x):
    return int(x.split(':')[0])*60 + int(x.split(':')[1])

In [25]:
def sql_to_df(table, year=''):
    
    if year:
        year_clean = '00' + year[0] + year[2:]
        select_statement = "select * from nba.{} where (GAME_ID REGEXP '(^{})') order by GAME_ID".format(table, year_clean)
    else:
        select_statement = "SELECT * FROM nba.{} order by GAME_ID;".format(table)
    
    cursor.execute(select_statement)
    data = cursor.fetchall()
    data_df = pd.DataFrame(data)
    
    field_names = [i[0] for i in cursor.description]
    data_df.columns = field_names
    
    return data_df

In [28]:
def join_date(data, year=''):
    date = sql_to_df('game_logs', year)
    
    total_with_date = data.merge(date[['GAME_ID', 'GAME_DATE', 'TEAM_ABBREVIATION']], on=['GAME_ID', 'TEAM_ABBREVIATION'])
    total_with_date['GAME_DATE'] = total_with_date['GAME_DATE'].astype('datetime64')
    
    players = []

    for player in total_with_date['PLAYER_ID'].unique():
        df = total_with_date[total_with_date['PLAYER_ID']==player]
        df['rest_days'] = df['GAME_DATE'].diff()
        df.dropna(inplace=True)
        players.append(df)
    return pd.concat(players)

In [29]:
def join_set_columns(data, year=''):

    vegas = sql_to_df('vegas', year)
    
    total_with_date = data.merge(vegas[['line','total', 'game_id','team','site', 'date']], left_on=['GAME_ID', 'TEAM_ABBREVIATION'], 
                   right_on=['game_id', 'team'])
    
    total_with_date['date'] = total_with_date['date'].astype('datetime64')
    
    players = []

    for player in total_with_date['PLAYER_ID'].unique():
        df = total_with_date[total_with_date['PLAYER_ID']==player]
        df['rest_days'] = df['date'].diff()
        df.dropna(inplace=True)
        players.append(df)
    return pd.concat(players)

### Aggregation functions

#### Function to calculate rolling statistics for players from box score data

In [26]:
def formated_player_stats(table, cols, year = '', lag = None):
    
    nba_df = sql_to_df(table, year)
    
    ### Drop games where players do not play
    nba_df_played = nba_df[nba_df['MIN'].notnull()]
    
    ### Calculate seconds played in a game
    nba_df_played['SEC'] = nba_df_played['MIN'].apply(lambda x : calc_secs(x))
    
    
    players = []
    cols = cols
    for player in nba_df_played['PLAYER_ID'].unique():
        df = nba_df_played[nba_df_played['PLAYER_ID']==player]
        df['game_number'] = df['GAME_ID'].expanding().count()
        for col in cols:
            df['expanding_{}'.format(col)] = df.expanding().mean()[col].shift(1)
            if lag:
                df['rolling_{}'.format(col+str(lag))] = df.rolling(lag).mean()[col].shift(1)
        df.dropna(inplace=True)
        players.append(df)
    return pd.concat(players)

In [27]:
formated_player_stats('box_score', ['PTS'], '2018')

/Users/marshall132/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/marshall132/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/marshall132/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,PF,PTS,PLUS_MINUS,pk,TOS,SEASON_ID,DK_PTS,DD,TD,doubles,SEC,expanding_PTS
482,0021800019,1610612738,BOS,Boston,1626179,Terry Rozier,,,23:13,2.0,7.0,0.286,2.0,3.0,0.667,2.0,2.0,1.0,2.0,3.0,5.0,3.0,1.0,0.0,4.0,8.0,-4.0,00218000191626179,0.0,22018,21.75,0,0,0.0,1393,11.000000
714,0021800028,1610612738,BOS,Boston,1626179,Terry Rozier,,,22:52,4.0,8.0,0.500,2.0,4.0,0.500,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,3.0,10.0,0.0,00218000281626179,1.0,22018,14.75,0,0,1.0,1372,9.500000
1023,0021800040,1610612738,BOS,Boston,1626179,Terry Rozier,,,15:29,2.0,9.0,0.222,1.0,5.0,0.200,0.0,0.0,0.0,0.0,2.0,2.0,1.0,0.0,0.0,0.0,5.0,9.0,00218000401626179,0.0,22018,9.50,0,0,0.0,929,9.666667
1666,0021800065,1610612738,BOS,Boston,1626179,Terry Rozier,,,24:57,2.0,5.0,0.400,0.0,2.0,0.000,0.0,0.0,0.0,0.0,3.0,3.0,4.0,4.0,0.0,1.0,4.0,3.0,00218000651626179,0.0,22018,21.75,0,0,0.0,1497,8.500000
1895,0021800074,1610612738,BOS,Boston,1626179,Terry Rozier,,,27:21,4.0,8.0,0.500,2.0,3.0,0.667,4.0,4.0,1.0,0.0,8.0,8.0,2.0,0.0,0.0,2.0,14.0,15.0,00218000741626179,0.0,22018,28.00,0,0,1.0,1641,7.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30378,0021801213,1610612752,NYK,New York,1628656,Billy Garrett,,,13:03,4.0,9.0,0.444,0.0,2.0,0.000,0.0,0.0,0.0,0.0,2.0,2.0,2.0,0.0,0.0,1.0,8.0,-5.0,00218012131628656,0.0,22018,13.50,0,0,0.0,783,6.000000
30611,0021801223,1610612752,NYK,New York,1628656,Billy Garrett,,,13:44,2.0,5.0,0.400,0.0,2.0,0.000,2.0,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,6.0,5.0,00218012231628656,1.0,22018,7.00,0,0,0.0,824,6.666667
29943,0021801196,1610612759,SAS,San Antonio,202700,Donatas Motiejunas,,,5:50,1.0,1.0,1.000,0.0,0.0,0.000,0.0,2.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,4.0,2.0,-4.0,0021801196202700,0.0,22018,4.75,0,0,0.0,350,2.000000
30715,0021801227,1610612759,SAS,San Antonio,202700,Donatas Motiejunas,,,2:36,1.0,1.0,1.000,0.0,0.0,0.000,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,-6.0,0021801227202700,2.0,22018,2.25,0,0,0.0,156,2.000000
30580,0021801221,1610612748,MIA,Miami,1628999,Yante Maten,,,12:00,1.0,2.0,0.500,0.0,1.0,0.000,0.0,0.0,0.0,0.0,2.0,2.0,0.0,1.0,0.0,0.0,2.0,2.0,00218012211628999,0.0,22018,6.50,0,0,0.0,720,0.000000

#### Function to calculate rolling team statistics

In [ ]:
def formatted_team_stats(table, cols, year = '', lag = None):
    
    pull = sql_to_df(table, year)
    
    teams_df = []
    cols = cols
    ### For every team, calculate the expanding mean for the given columns passed into the function, 
    ### and the the difference between the statistic in the game and the expanding mean leading up to that game
    ### Answers the question "how did a team perform compared to its average going into the game"
    for team in pull['TEAM_ID'].unique():
        df = pull[pull['TEAM_ID']==team]
        df['game_number'] = df['GAME_ID'].expanding().count()
        for col in cols:
            df['expanding_{}'.format(col)] = df.expanding().mean()[col].shift(1)
            df['difference_{}'.format(col)] = df[col] - df['expanding_{}'.format(col)]
            ### Add ability to see how team performs compared to their rolling average over a set of games
            ### Answers question "how did a team perform compared to its average over previous x number of games"
            if lag:
                df['rolling_{}'.format(col+str(lag))] = df.rolling(lag).mean()[col].shift(1)
                df['lag_difference_{}'.format(col)] = df[col] - df['rolling_{}'.format(col+str(lag))]
            continue
        df.dropna(inplace=True)
        teams_df.append(df)
        
        
    return pd.concat(teams_df)